<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477879337116-6g3q1ibognf11s94pa6hndsbenp4urlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477879337116-6g3q1ibognf11s94pa6hndsbenp4urlb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>477879337116-rsr8ohm7rau6t9p22ev37p3a3o7aeh5u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGbmIlPGNs_dFsQ0zTrlZOm0D4uG-A0Pw</string>
	<key>GCM_SENDER_ID</key>
	<string>477879337116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.requset</string>
	<key>PROJECT_ID</key>
	<string>said-58491</string>
	<key>STORAGE_BUCKET</key>
	<string>said-58491.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477879337116:ios:f5d555208905a269f52d59</string>
</dict>
</plist>